.search-bar, .title, .banner {
  text-align: center;
}

.banner {
  background-color: LightSkyBlue;
}

.voter-block {
  margin: 20px 0px 20px 0px;
  /* margin-bottom: 30px; */
}

.card {
  background-color: DeepSkyBlue;
  border-radius: 30%;
  padding: 25px 25px 25px 25px;
  margin: 30px 30px 30px 30px;
  text-align: center;
}
